<script type="text/ng-template" id="scoreModal.html">
    <div class="modal-header">
        <h3 class="modal-title font-green-haze bold ">ثبت امتیاز - {{customer.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="table-scrollable table-scrollable-borderless slimScrollDiv"
             style="height: 80px; overflow: auto; width: auto;">
            <form class="form" ng-submit="ok()">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">افزودن امتیاز به اندازه:</label>

                        <div class="input-group col-md-9">
                                            <span class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </span>
                            <input ng-model="newScore.value" style="direction:ltr;" type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">انتخاب مشتری معرفی کننده</h3>


    </div>
    <div class="modal-body">
        <div class="input-group">
            <input ng-enter="doSearch()" type="text" ng-model="query"
                   class="form-control input-circle-left" placeholder="جستجو ..."/>
               <span class="input-group-btn">
               <button ng-click="doSearch()" class="btn btn-circle-right btn-default"
                       type="submit">
                   جستجو
               </button>
               </span>
        </div>

        <div class="table-scrollable table-scrollable-borderless slimScrollDiv"
             style="height: 350px; overflow: auto; width: auto;">
            <table class="table table-hover table-light">
                <thead>
                <tr class="uppercase">
                    <th>
                        تصویر
                    </th>
                    <th>
                        نام
                    </th>
                    <th>
                        ایمیل
                    </th>
                    <th>
                        موبایل
                    </th>
                    <th>
                        امتیاز
                    </th>
                </tr>
                </thead>
                <tr ng-click="ok(customer)" ng-repeat="customer in customers">
                    <td>
                        <img class="user-pic" src="/delegate/resource/assets/admin/layout/img/avatar4.jpg">
                    </td>
                    <td>
                        <a href="javascript:;" class="primary-link">{{customer.name}}</a>
                    </td>
                    <td>
                        {{customer.email}}
                    </td>

                    <td>
                        {{customer.mobile}}
                    </td>

                    <td>
                        <a class="bold font-green-haze">{{customer.score|score}}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">انصراف</button>
    </div>
</script>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">لیست مشتری های سیستم</a>
        </li>
    </ul>
    <div class="page-toolbar hide">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-menu-toggle
                    dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 ng-if="isOperator()" class="page-title">
    لیست مشتری های سیستم
</h3>

<h3 ng-if="isCustomer()" class="page-title">
    لیست کاربران شما
</h3>

<!-- END PAGE HEADER-->

<div id="alert_container" ng-controller="GeneralPageController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<!-- BEGIN MAIN CONTENT -->
<div>


<!-- BEGIN DASHBOARD STATS -->
<div class="row hide">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    1349
                </div>
                <div class="desc">
                    New Feedbacks
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    12,5M$
                </div>
                <div class="desc">
                    Total Profit
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    New Orders
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +89%
                </div>
                <div class="desc">
                    Brand Popularity
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="row">
<div class="col-md-6 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-green-haze hide"></i>
                <span class="caption-subject font-green-haze bold uppercase">ثبت مشتری جدید</span>
                <span class="caption-helper hide">لیست مشتریان</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <form name="customer_form" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3">نام</label>

                        <div class="input-group col-md-9">
                                <span class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </span>
                            <input name="firstName" validation="min_len:3|max_len:50|required"
                                   ng-model="newCustomer.firstName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">نام خانوادگی</label>

                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input name="lastName" validation="min_len:3|max_len:50|required"
                                   ng-model="newCustomer.lastName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">تلفن همراه</label>

                        <div class="input-group col-md-9">
                                <span class="input-group-addon">
                                    <i class="fa fa-mobile"></i>
                                </span>
                            <input name="mobile" validation="numeric|exact_len:11|required"
                                   ng-model="newCustomer.mobile" type="text" class="form-control"
                                   style="direction: ltr;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">شماره کارت بانکی</label>

                        <div class="input-group col-md-9">
                                <span class="input-group-addon">
                                    <i class="fa fa-credit-card"></i>
                                </span>
                            <input card-input name="cardNumber" validation="card"
                                   ng-model="newCustomer.card" type="text" class="form-control"
                                   style="direction: ltr;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">تاریخ انقضای کارت</label>

                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-credit-card"></i>
                            </span>
                            <input ng-click="openExpireDate($event)"
                                   readonly type="text" class="form-control selector"
                                   datepicker-popup-persian="dd-MMMM-yyyy"
                                   ng-model="newCustomer.expireDate" is-open="expireIsOpen"
                                   datepicker-options="dateOptions" close-text="بستن"
                                   datepicker-mode="'year'"
                                   min-mode="'month'"
                                   year-range="dateOptions.yearRange"
                                   min-date="dateOptions.minDate"
                                   clear-text="پاک کردن"
                                   current-text="تاریخ امروز"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default"
                                    ng-click="openExpireDate($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span></div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">کد ملی</label>

                        <div class="input-group col-md-9">
                                                        <span class="input-group-addon">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                            <input name="nationalCode" validation="numeric|exact_len:10|required"
                                   ng-model="newCustomer.nationalCode" type="text"
                                   class="form-control"
                                   style="direction: ltr;">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">آدرس ایمیل</label>

                        <div class="input-group col-md-9">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            <input name="email" validation="email|required" ng-model="newCustomer.email"
                                   style="direction: ltr;" type="text"
                                   class="form-control">
                        </div>
                    </div>
                    <div ng-if="!currentCustomerId" class="form-group">
                        <label class="control-label col-md-3">مشتری معرف</label>

                        <div class="input-group col-md-9">
                                <span class="input-group-addon">
                                    <i class="fa fa-users"></i>
                                </span>
                            <input name="mentorCustomer" readonly="true"  ng-click="open()"
                                   type="text" class="form-control selector"
                                   ng-model="newCustomer.mentorCustomer.name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">رمز عبور</label>

                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input name="password1" validation="min_len:6|max_len:50|required"
                                   ng-model="newCustomer.password1" style="direction: ltr;" type="password"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">تکرار رمز عبور</label>

                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input validation="match:newCustomer.password1,تکرار رمز عبور,رمز عبور|min_len:6|max_len:50|required"
                                   name="password" ng-model="newCustomer.password2" style="direction: ltr;"
                                   type="password"
                                   class="form-control">
                        </div>
                    </div>

                </div>
                <div class="form-actions right">
                    <button ng-disabled="customer_form.$invalid" ng-confirm-action="submitCustomer()"
                            ng-confirm-message="آیا از ثبت مشتری با نام {{newCustomer.firstName}} {{newCustomer.lastName}}  اطمینان دارید؟"
                            class="btn green">ثبت اطلاعات مشتری
                    </button>
                </div>

            </form>
        </div>
    </div>
    <!-- END PORTLET-->
</div>


<div class="col-md-6 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-green-haze hide"></i>
                <span class="caption-subject font-green-haze bold uppercase">جستجو در مشتریان</span>
                <span class="caption-helper hide">لیست مشتریان</span>
            </div>
            <div class="actions">
                <div class="btn-group btn-group-devided" data-toggle="buttons">

                </div>
            </div>
            <div class="inputs">
                <div class="portlet-input input-inline input-medium">
                    <div class="input-group">
                        <input ng-enter="doSearch()" type="text" ng-model="query"
                               class="form-control input-circle-left" placeholder="جستجو ..."/>
                                <span class="input-group-btn">
                                <button ng-click="doSearch()" class="btn btn-circle-right btn-default" type="submit">
                                    جستجو
                                </button>
                                </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="portlet-body">
            <div class="row number-stats margin-bottom-30">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stat-left">
                        <div class="stat-chart">
                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                            <div id="sparkline_bar"></div>
                        </div>
                        <div class="stat-number">
                            <div class="title">
                                کل امتیاز
                            </div>
                            <div class="number">
                                {{totalScore}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="stat-right">
                        <div class="stat-chart">
                            <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                            <div id="sparkline_bar2"></div>
                        </div>
                        <div class="stat-number">
                            <div class="title">
                                تعداد کل
                            </div>
                            <div class="number">
                                {{customers.length}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-scrollable table-scrollable-borderless">
                <table class="table table-hover table-light">
                    <thead>
                    <tr class="uppercase">
                        <th>
                           شماره کاربری
                        </th>
                        <th>
                            نام
                        </th>
                        <th>
                            ایمیل
                        </th>
                        <th>
                            موبایل
                        </th>
                        <th>
                            امتیاز
                        </th>

                        <th ng-if="!isCustomer()">
                            وضعیت
                        </th>
                    </tr>
                    </thead>
                    <tr ng-repeat="customer in customers">
                        <td >
                            {{customer.id}}
                        </td>
                        <td>
                            <a href="#/customer/{{customer.id}}" class="primary-link">{{customer.name}}</a>
                        </td>
                        <td>
                            {{customer.email}}
                        </td>

                        <td style="direction: ltr; text-align: right;">
                            {{customer.mobile}}
                        </td>

                        <td>
                            <a ng-if="!isCustomer()" ng-click="openScore('small', customer)"
                               class="bold font-green-haze">{{customer.score|score}}</a>

                            <span ng-if="isCustomer()">
                                {{customer.score|score}}
                            </span>
                        </td>

                        <td ng-if="!isCustomer()">
                            <button type="button" class="btn {{customer.isActive ? 'green' : 'gray'}}"
                                    ng-confirm-action="changeStatus(customer)"
                                    ng-confirm-message="آیا از {{customer.isActive ? 'غیر فعال' : 'فعال'}} ساختن مشتری با نام {{customer.firstName}} {{customer.lastName}} اطمینان دارید؟"
                                    ng-model="customer.isActive"
                                    >
                                {{customer.isActive ? "فعال" : "غیر فعال"}}

                            </button>

                        </td>


                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- END PORTLET-->
</div>
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //Index.init();
    //Tasks.initDashboardWidget();
    CustomersTools.init();
</script>
<!-- BEGIN MAIN JS & CSS -->