
<div ng-show="uploader.isHTML5">
    <!-- 3. nv-file-over uploader="link" over-class="className" -->
    <div class="well my-drop-zone" nv-file-over="" nv-file-drop="" uploader="uploader">
        فایل را در این قسمت رها کنید
        یا

        <span style="cursor: pointer">
            اینجا را کلیک کنید
        </span>

    </div>

    <input title="فایل خود را انتخاب کنید" type="file"
           style="opacity: 0; width: 0px; height: 0px; display: none;"
           placeholder="فایل را انتخاب کنید"
           nv-file-select="" uploader="uploader" multiple  />

</div>
