/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/

.control-label {
    font-family: tahoma;
    color: #777;
}

.form-control-static {
    font-family: tahoma;
    font-weight: bold;
    font-size: 14px;
}

.form-body h2 {
    font-family: tahoma;
}

.btn > i {
    padding-left: 10px;
}

.modal .modal-header h3 {
    font-family: tahoma;
}

.form.green-turquoise .form-actions {
    background-color: #36D7B7;
}

.form.green-turquoise .control-label {
    color: #eeeeee;
}

.btn {
    font-family: tahoma;
    font-size: 12px;
}

.portlet.green-turquoise > .portlet-title > .nav-tabs > li.active > a, .portlet > .portlet-title > .nav-tabs > li:hover > a {
    color: #333;
    background: none;
    border: 0;
}

.portlet.green-turquoise > .tabbable-line > .nav-tabs > li.active {
    border-bottom: 4px solid #fff;
}

.btn-success.check-btn, .btn-success.check-btn:hover, .btn-success.check-btn:focus, .btn-success.check-btn:checked {
    background-color: #d0d0d0 !important;
}

.btn-success.check-btn .check-icon {
    display: none;
}

.btn-success.active, .btn-success.active:hover, .btn-success.active:focus {
    background-color: #00C84F !important;
}

.btn-success.active .check-icon {
    display: inline;
}

body {
    font-family: tahoma;
    line-height: 29px;
}

.chart {
    height: 400px;
    width: 100%;
    text-align: center;
}

.angular-charts-template .ac-chart {
    width: 100% !important;
}

.page-title {
    font-family: tahoma;
    line-height: 60px;
    color: #aaa;
}

.dropdown span {
    white-space: nowrap;
}

.page-bar .page-breadcrumb > li > a, .page-bar .page-breadcrumb > li > span {
    white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
    font-family: tahoma;
}

.label {
    font-family: tahoma;
    font-size: 12px;
}

.login .content h3 {
    font-size: 20px;
}

.login .content .rememberme {
    direction: rtl;
}

input.ng-invalid.ng-dirty:not(:focus), select.ng-invalid.ng-dirty:not(:focus), textarea.ng-invalid.ng-dirty:not(:focus) {
    border-color: #e74c3c;
}

input.ng-valid.ng-dirty, select.ng-valid.ng-dirty, textarea.ng-valid.ng-dirty {
    border-color: #2ecc71;
}

.form-control[readonly].form-control.selector {
    cursor: pointer;
    background-color: white;
}

.green-turquoise.btn.disabled, .green-turquoise.btn.disabled:hover, .green-turquoise.btn.disabled:focus, .green-turquoise.btn.disabled:active, .green-turquoise.btn.disabled.active, .green-turquoise.btn[disabled], .green-turquoise.btn[disabled]:hover, .green-turquoise.btn[disabled]:focus, .green-turquoise.btn[disabled]:active, .green-turquoise.btn[disabled].active, fieldset[disabled] .green-turquoise.btn, fieldset[disabled] .green-turquoise.btn:hover, fieldset[disabled] .green-turquoise.btn:focus, fieldset[disabled] .green-turquoise.btn:active, fieldset[disabled] .green-turquoise.btn.active, .green.btn.disabled, .green.btn.disabled:hover, .green.btn.disabled:focus, .green.btn.disabled:active, .green.btn.disabled.active, .green.btn[disabled], .green.btn[disabled]:hover, .green.btn[disabled]:focus, .green.btn[disabled]:active, .green.btn[disabled].active, fieldset[disabled] .green.btn, fieldset[disabled] .green.btn:hover, fieldset[disabled] .green.btn:focus, fieldset[disabled] .green.btn:active, fieldset[disabled] .green.btn.active {
    background-color: #ccc;
}

.dropdown-menu.ng-valid-date-disabled {
    right: 120px !important;
}

.editable-checklist label {
    padding: 20px;
}

.roles-row .tiles .tile {
    cursor: default !important;
}

.btn-lg {
    padding: 10px 26px;
    font-size: 15px;
    line-height: 1.33;
    vertical-align: middle;
}

.popover {
    font-family: tahoma;
    font-size: 12px;
    line-height: 21px;
}