<!-- BEGIN PAGE HEADER-->

<div data-ng-include="'/delegate/resource/views/users/userSelectPopup.html'" ></div>

<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
</div>
<h3 class="page-title">
    جزییات نمایندگی
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div >

<div id="alert_container" ng-controller="GeneralPageController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<!-- BEGIN DASHBOARD STATS -->
<div class="row hide">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    1349
                </div>
                <div class="desc">
                    New Feedbacks
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    12,5M$
                </div>
                <div class="desc">
                    Total Profit
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    549
                </div>
                <div class="desc">
                    New Orders
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    +89%
                </div>
                <div class="desc">
                    Brand Popularity
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->

<div class="row">
<div class="col-md-12 col-sm-12">
    <!-- BEGIN PORTLET-->
    <div class="portlet light bg-inverse">
        <div class="portlet-title">
            <div class="caption caption-md">
                <i class="icon-bar-chart font-green-haze hide"></i>
                <span class="caption-subject font-green-haze bold uppercase">اطلاعات نمایندگی</span>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="form-horizontal" role="form">
                <div class="form-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">نام</label>

                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        <a href="#" editable-text="instance.name" e-name="name" >
                                            {{instance.name ? instance.name : '---'}}
                                        </a>
                                    </p>
                                    <br />
                                    <span class="validation-mobile validation text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">آدرس سایت</label>

                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        <a href="#" editable-text="instance.url">
                                            {{instance.url ? instance.url : '---'}}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--/span-->
                    </div>

                    <div class="row">
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">معرف</label>

                                <div class="col-md-9">
                                    <p class="form-control-static">
                                        <a href="#/userDetail/{{instance.superAdmin.id}}">
                                            {{instance.superAdmin.firstName}} {{instance.superAdmin.lastName}}
                                        </a>
                                    </p>
                                    <button ng-click="openUserPopup()" type="button" class="btn default" >
                                        انتخاب
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button ng-click="submitInstance()" ng-disabled="instanceForm.$invalid" type="button" class="btn green">
                                            <i class="fa fa-pencil"></i>
                                            ذخیره تغییرات
                                        </button>
                                        <button ng-click="goInstanceList()" type="button" class="btn default">
                                            لیست نمایندگی ها
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>



</div>



</div>
