<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">صفحه اختصاصی - {{customer.name}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-menu-toggle
                    dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">
    صفحه اصلی -
    {{customer.name}}
</h3>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="CustomerDetailController">

<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.totalCustomerPayment}}
                    <span style="line-height: 25px" class="desc">
                        (ریال)
                    </span>
                </div>
                <div class="desc">
                    مبلغ کل پرداختی
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.totalWeekScore}}
                </div>
                <div class="desc">
                    کل امتیاز هفته اخیر
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.totalInDirectScore}}
                </div>
                <div class="desc">
                    کل امتیاز غیر مستیم
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.totalDirectScore}}
                </div>
                <div class="desc">
                    کل امتیاز مستقیم
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet bordered light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">لیست مشتری های معرفی شده</span>
                    <span class="caption-helper hide">لیست مشتریان</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">

                    </div>
                </div>
                <div class="inputs">
                    <div class="portlet-input input-inline input-medium">
                        <div class="input-group">
                            <input type="text" data-ng-change="doSearch()" ng-model="query"
                                   class="form-control input-circle-left" placeholder="search...">
                                     <span class="input-group-btn">
                                     <button class="btn btn-circle-right btn-default" type="submit">Go!</button>
                                     </span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row number-stats margin-bottom-30">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-left">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title">
                                    تعداد
                                </div>
                                <div class="number">
                                    {{customer.invitees.length}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="stat-right">
                            <div class="stat-chart">
                                <!-- do not line break "sparkline_bar" div. sparkline chart has an issue when the container div has line break -->
                                <div id="sparkline_bar2"></div>
                            </div>
                            <div class="stat-number">
                                <div class="title">
                                    جمع امتیازات
                                </div>
                                <div class="number">
                                    {{inviteesTotalScore}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th colspan="2">
                                نام
                            </th>
                            <th>
                                ایمیل
                            </th>
                            <th>
                                موبایل
                            </th>
                            <th>
                                امتیاز
                            </th>
                            <th>
                                حذف
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="invitee in customer.invitees">
                            <td class="fit">
                                <img class="user-pic"
                                     src="/delegate/resource/assets/admin/layout/img/avatar4.jpg">
                            </td>
                            <td>
                                <a href="#/customer/{{invitee.id}}" class="primary-link">{{invitee.name}}</a>
                            </td>
                            <td>
                                {{invitee.email}}
                            </td>

                            <td>
                                {{invitee.mobile}}
                            </td>

                            <td>
                                <span class="bold font-green-haze">{{invitee.score}}</span>
                            </td>

                            <td>
                                <a ng-click="deleteInvitee(invitee)" class="bold font-red"><i
                                        style="font-size:20px" class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>

</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-green-haze bold uppercase">امتیازات کسب شده شما</span>
                </div>
            </div>
            <div class="portlet-body ">


                <div style="direction: ltr;" ac-chart="'line'" ac-data="scoreChartData" ac-config="scoreChartConfig"
                     id="chart"
                     class="chart"></div>

            </div>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->


<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //Index.init();
    //Tasks.initDashboardWidget();
</script>
<!-- BEGIN MAIN JS & CSS -->