<div data-ng-include="'/delegate/resource/views/customer/customerSelectPopup.html'">
</div>


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">داشبورد مدیریت سامانه سپاسه</a>
        </li>
    </ul>
    <div class="page-toolbar hide">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-menu-toggle
                    dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">
    پرداخت های سیستم
</h3>
<!-- END PAGE HEADER-->

<div ng-controller="GeneralPageController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<!-- BEGIN MAIN CONTENT -->
<div>


<!-- BEGIN DASHBOARD STATS -->
<div class="row hide">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.totalPayment}}
                    <span class="desc">
                                        (تومان)
                    </span>

                </div>
                <div class="desc">
                    کل پرداختی های سیستم
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.lastWeekPayment}}
                    <span class="desc">
                                        (تومان)
                    </span>

                </div>
                <div class="desc">
                    پرداختی های هفته گذشته
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.lastMonthPayment}}
<span class="desc">
                    (تومان)
</span>
                </div>
                <div class="desc">
                    پرداختی های ماه گذشته
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.lastYearPayment}}
                    <span class="desc">
                                        (تومان)
                    </span>
                </div>
                <div class="desc">
                    پرداختی های سال گذشته
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet  grey-cararra light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-white bold uppercase">ثبت پرداخت به مشتری</span>
                </div>
                <ul class="nav nav-tabs">
                    <!--<li>
                        <a href="#" data-target="#portlet_tab2" data-toggle="tab">
                            دسترسی ها
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" data-target="#portlet_tab1" data-toggle="tab">
                            اطلاعات کلی
                        </a>
                    </li>-->
                </ul>
            </div>
            <div class="portlet-body form ">
                <a ng-if="isDownloaded == 2" href="#" class="btn btn-lg green"
                   ng-confirm-action="downloadPayments()"
                   ng-confirm-message="آیا از دریافت فایل اکسل برای ارسال به بانک اطمینان دارید؟"
                        >
                    <i class="fa fa-file-excel-o"></i>
                    دریافت فایل اکسل
                </a>
                <a ng-if="isDownloaded == 1" href="/delegate/payment" class="btn btn-lg green-haze">
                    <i class="fa fa-file-excel-o"></i>
                    دریافت مجدد فایل اکسل
                </a>
                <a ng-if="isDownloaded == 1" href="#"
                   ng-confirm-action="acceptPayments()"
                   ng-confirm-message="آیا از تایید تمامی درخواست های موجود در فایل اکسل دریافت شده اطمینان دارید؟"
                   popover="در صورت تایید درخواست های پرداخت موجود در فایل اکسل، تمامی آن ها به صورت واریز شده در نظر گرفته خواهد شد و از حساب کاربر کسر می گردد."
                   popover-trigger="hover" popover-placement="top"
                   class="btn btn-lg green-jungle">
                    <i class="fa fa-check"></i>
                    تایید پرداخت های دریافت شده
                </a>
                <a ng-if="isDownloaded == 1" href="#"
                   ng-confirm-action="cancelDownloadPayments()"
                   ng-confirm-message="آیا از انصراف از انجام عملیات بر روی پرداخت های موجود در فایل دریافت شده اطمینان دارید؟"
                   popover="در صورت انصراف از انجام عملیات، پرداخت های موجود در فایل اکسل بدون تغییرات به حالت بررسی نشده بازگردانده می شوند."
                   popover-trigger="hover" popover-placement="top"
                   class="btn btn-lg yellow">
                    <i class="fa fa-close"></i>
                    انصراف
                </a>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span ng-if="isDownloaded == 2" class="caption-subject font-green-haze bold uppercase">درخواست های در صف انتظار</span>
                    <span ng-if="isDownloaded == 1" class="caption-subject font-green-haze bold uppercase">درخواست های دانلود شده</span>
                </div>
                <div class="actions">
                    <div class="btn-group btn-group-devided" data-toggle="buttons">

                    </div>
                </div>


            </div>
            <div class="portlet-body">

                <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-5">مشتری:</label>

                        <div class="input-group col-md-7">

                            <span class="badge bg-blue" ng-if="filterCustomer.id" ng-click="openCustomerFilter()">
                                {{filterCustomer.name}}
                            </span>


                            <button ng-if="!filterCustomer.id" ng-click="openCustomerFilter()"
                                    class="btn blue"
                                    type="button"><i class="fa fa-search fa-fw"></i>
                            </button>
                            <button ng-click="removeCustomerFilter()" ng-if="filterCustomer.id"
                                    class="btn btn-xs blue btn-circle" type="button">
                                &nbsp;&nbsp;<i class="fa fa-close "></i>
                            </button>

                        </div>

                    </div>

                </div>
                <div class="col-md-3 col-sm-12">

                    <div class="form-group">
                        <label class="control-label col-md-5">بازه امتیاز</label>

                        <div class="input-group col-md-7">

                            <input ng-enter="doSearch()" score-input ng-model="filter.fromAmount" type="text" class="form-control"
                                   empty-to-null/>
                        </div>

                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="form-group">
                        <div class="input-group col-md-12">
                            <input ng-enter="doSearch()" score-input ng-model="filter.toAmount" type="text" class="form-control"
                                   empty-to-null/>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <button ng-click="doSearch()" class="btn blue btn-lg btn-block">
                        جسنجو
                    </button>
                </div>

                <span style="height: 40px; line-height: 40px;" class="block col-md-12 bg-grey-cararra margin-top-20">
                    نتایج جستجو
                </span>

                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th>
                                شناسه درخواست
                            </th>
                            <th>
                                مشتری
                            </th>

                            <th>
                                امتیاز
                            </th>
                            <th>
                                توضیحات
                            </th>
                            <th>
                                شماره کارت
                            </th>
                            <th>
                                وضعیت
                            </th>
                        </tr>
                        </thead>
                        <tr ng-repeat="payment in payments">
                            <td>
                                {{payment.id}}
                            </td>
                            <td>
                                <a href="#/customer/{{payment.customer.id}}" class="primary-link">{{user.firstName}}
                                    {{payment.customer.name}}
                                </a>
                            </td>

                            <td class="font-blue bold">
                                {{payment.amount | score}}
                            </td>

                            <td style="direction: ltr; text-align: right;">
                                {{payment.description}}
                            </td>
                            <td style="direction: ltr; text-align: right;">
                                {{payment.card}}
                            </td>


                            <td>
                                <span ng-if="payment.status == 1" class="label label-bg label-warning">
                                                                    بررسی نشده
                                </span>
                                <span ng-if="payment.status == 0" class="label label-bg label-success">
                                    واریز شده
                                </span>

                                <span ng-if="payment.status == 20" class="label label-bg label-info">
                                    در دست بررسی
                                </span>
                                <span ng-if="payment.status == 4"
                                      class="label label-bg label-danger">
                                    رد شده
                                </span>
                            </td>
                        </tr>
                    </table>

                    <pagination items-per-page="itemsPerPage" total-items="totalPayments" ng-model="filter.currentPage" ng-change="doSearch()"
                                previous-text="صفحه قبل"
                                next-text="صفحه بعد"
                            ></pagination>

                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //Index.init();
    //Tasks.initDashboardWidget();
    CustomersTools.init();
</script>
<!-- BEGIN MAIN JS & CSS -->