<div data-ng-include="'/delegate/resource/views/customer/customerSelectPopup.html'">
</div>


<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">داشبورد مدیریت سامانه سپاسه</a>
        </li>
    </ul>
    <div class="page-toolbar hide">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-menu-toggle
                    dropdown-menu-hover data-delay="1000" data-close-others="true">
                Actions <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li>
                    <a href="#">
                        <i class="icon-user"></i> New User </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-present"></i> New Event <span class="badge badge-success">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-basket"></i> New order </a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">
                        <i class="icon-flag"></i> Pending Orders <span class="badge badge-danger">4</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-users"></i> Pending Users <span class="badge badge-warning">12</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<h3 class="page-title">
    پرداخت های سیستم
</h3>
<!-- END PAGE HEADER-->

<div ng-controller="GeneralPageController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.message}}</alert>
</div>

<!-- BEGIN MAIN CONTENT -->
<div>


<!-- BEGIN DASHBOARD STATS -->
<div class="row" ng-if="currentCustomerId">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{customerStats.totalPayedOrPending| score}}
                </div>
                <div class="desc">
                    امتیاز پرداخت شده یا در دست بررسی
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{customerStats.totalPayable| score}}
                </div>
                <div class="desc">
                    امتیاز قابل برداشت
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{customerStats.totalScore| score}}
                </div>
                <div class="desc">
                    میزان کل امتیازات
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{customerStats.totalApprovedPayment | score}}
                </div>
                <div class="desc">
                    میزان کل پرداخت ها
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

<div class="row" ng-if="!currentCustomerId">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-comments"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.totalPayment | score}}
                    <span class="desc">
                                        (تومان)
                    </span>

                </div>
                <div class="desc">
                    کل پرداختی های سیستم
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.lastWeekPayment| score}}
                    <span class="desc">
                                        (تومان)
                    </span>

                </div>
                <div class="desc">
                    پرداختی های هفته گذشته
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.lastMonthPayment | score}}
<span class="desc">
                    (تومان)
</span>
                </div>
                <div class="desc">
                    پرداختی های ماه گذشته
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-globe"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{stats.lastYearPayment | score}}
                    <span class="desc">
                                        (تومان)
                    </span>
                </div>
                <div class="desc">
                    پرداختی های سال گذشته
                </div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet  grey-cararra light ">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-bar-chart font-green-haze hide"></i>
                    <span class="caption-subject font-white bold uppercase">ثبت درخواست پرداخت جدید (کارمزد: 1 امتیاز)</span>
                </div>
                <ul class="nav nav-tabs">
                    <!--<li>
                        <a href="#" data-target="#portlet_tab2" data-toggle="tab">
                            دسترسی ها
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" data-target="#portlet_tab1" data-toggle="tab">
                            اطلاعات کلی
                        </a>
                    </li>-->
                </ul>
            </div>
            <div class="portlet-body form ">
                <form class="form-horizontal" name="formAdd" ng-submit="submitPayment()">
                    <div class="tab-content">

                        <div class="tab-pane active" id="portlet_tab1">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">امتیاز درخواستی</label>

                                            <div class="input-group col-md-9">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-usd"></i>
                                                </span>
                                                <input style="direction: ltr;" ng-model="newPayment.amountInput"
                                                       name="amount" validation="numeric_float:3|min_num:2|required"
                                                       typing-limit="500" type="text" step="0.001"
                                                       class="form-control"/>
                                            </div>
                                        </div>


                                        <div ng-if="!currentCustomerId" class="form-group">
                                            <label class="control-label col-md-3">مشتری</label>

                                            <div class="input-group col-md-9">

                                                <input validation="required" typing-limit="10" name="customer"
                                                       ng-click="open()" type="text" readonly
                                                       class="form-control selector"
                                                       ng-model="newPayment.customer.name"/>
                                                <span class="input-group-btn">
                                                    <button ng-click="open()"
                                                            class="btn green-turquoise"
                                                            type="button"><i class="fa fa-search fa-fw"></i>
                                                        انتخاب
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-3">توضیحات</label>

                                            <div class="input-group col-md-9">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <textarea rows="4" ng-model="newPayment.description"
                                                          style="direction: rtl;" type="text"
                                                          class="form-control"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>
                            <div class="form-actions right purple ">
                                <div class="col-md-11">

                                    <a ng-confirm-message="آیا از درخواست پرداخت {{newPayment.amountInput}} امتیاز با کارمزد 1 امتیاز {{newPayment.customer ? 'برای مشتری با نام ' + newPayment.customer.firstName + ' ' + newPayment.customer.lastName : ''}} اطمینان دارید؟"
                                       ng-confirm-action="submitPayment()"
                                       ng-disabled="formAdd.$invalid || paymentSubmitted"
                                       style="float: right;" class="btn btn-lg green-turquoise">
                                        ثبت
                                        پرداخت
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="portlet_tab2">
                            <button type="button" class="btn btn-success" ng-model="newUser.roles.OPERATOR"
                                    btn-checkbox>
                                اپراتور
                            </button>
                            <button type="button" class="btn btn-success" ng-model="newUser.roles.ADMINISTRATOR_USER"
                                    btn-checkbox>
                                کاربر مدیر
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>


<div class="row">
<div class="col-md-12 col-sm-12">
<!-- BEGIN PORTLET-->
<div class="portlet light ">
<div class="portlet-title">
    <div class="caption caption-md">
        <i class="icon-bar-chart font-green-haze hide"></i>
        <span class="caption-subject font-green-haze bold uppercase">{{currentCustomerId? 'درخواست های پرداخت شما' : 'درخواست های پرداخت ثبت شده'}}</span>
    </div>
    <div class="actions">
        <div class="btn-group btn-group-devided" data-toggle="buttons">

        </div>
    </div>

    <div class="inputs">
        <div class="portlet-input input-inline input-medium">
            <label class="control-label col-md-4">وضعیت</label>

            <div class="input-group">
                <select ng-change="doSearch()" ng-model="filter.status" class="form-control input-circle">
                    <option value="undefined"></option>
                    <option value="0">
                        پرداخت های انجام شده
                    </option>
                    <option value="1">
                        بررسی نشده
                    </option>
                    <option value="20">
                        در دست اقدام
                    </option>
                    <option value="4">
                        مرجوع شده
                    </option>

                </select>
            </div>
        </div>
    </div>
</div>
<div class="portlet-body">

    <div ng-if="!currentCustomerId" class="col-md-2 col-sm-12">
        <div class="form-group">
            <label class="control-label col-md-5">مشتری:</label>

            <div class="input-group col-md-7">

                            <span class="badge bg-blue" ng-if="filterCustomer.id" ng-click="openCustomerFilter()">
                                {{filterCustomer.name}}
                            </span>


                <button ng-if="!filterCustomer.id" ng-click="openCustomerFilter()"
                        class="btn blue"
                        type="button"><i class="fa fa-search fa-fw"></i>
                </button>
                <button ng-click="removeCustomerFilter()" ng-if="filterCustomer.id"
                        class="btn btn-xs blue btn-circle" type="button">
                    &nbsp;&nbsp;<i class="fa fa-close "></i>
                </button>

            </div>

        </div>

    </div>
    <div class="col-md-3 col-sm-12">

        <div class="form-group">
            <label class="control-label col-md-5">بازه امتیاز از:</label>

            <div class="input-group col-md-7">

                <input score-input ng-enter="doSearch()" ng-model="filter.fromAmount" type="text"
                       class="form-control" empty-to-null/>
            </div>

        </div>

        <div class="form-group">
            <label class="control-label col-md-5">تا:</label>
            <div class="input-group col-md-7">
                <input score-input ng-enter="doSearch()" ng-model="filter.toAmount" type="text" class="form-control"
                       empty-to-null/>
            </div>
        </div>
    </div>



    <div class="col-md-2 col-sm-12">
        <date-range from-date="filter.fromDate" to-date="filter.toDate">
        </date-range>
    </div>


    <div class="col-md-2 col-sm-12">
        <button ng-click="doSearch()" class="btn blue btn-lg btn-block">
            جسنجو
        </button>
    </div>


                <span style="height: 40px; line-height: 40px;" class="block col-md-12 bg-grey-cararra margin-top-20">
                    نتایج جستجو
                </span>

    <div class="table-scrollable table-scrollable-borderless">
        <table class="table table-hover table-light">
            <thead>
            <tr class="uppercase">
                <th ng-if="isOperator()">
                    مشتری
                </th>
                <th>
                    شناسه پرداخت
                </th>

                <th>
                    امتیاز
                </th>
                <th>
                    توضیحات
                </th>
                <th>
                    تاریخ ایجاد
                </th>
                <th>
                    تاریخ پرداخت
                </th>
                <th>
                    شماره کارت
                </th>
                <th>
                    وضعیت
                </th>
                <th ng-if="isCustomer()">
                    بازگشت به حساب
                </th>

                <th ng-if="checkAnyRoles(['ADMINISTRATOR_USER', 'PAYMENT_MANAGER'])">
                    رد کردن
                </th>
            </tr>
            </thead>
            <tr ng-repeat="payment in payments">

                <td ng-if="isOperator()">
                    {{payment.customer.name}}
                </td>
                <td>
                    {{payment.id}}
                </td>
                <td class="font-blue bold">
                    {{payment.amount | score}}
                </td>

                <td style="direction: ltr; text-align: right;">
                    {{payment.description}}
                </td>
                <td style="direction: ltr; text-align: right;">
                    {{payment.createDate | myDate:'jYYYY/jM/jD H:mm'}}
                </td>
                <td style="direction: ltr; text-align: right;">
                    {{payment.paymentDate | myDate:'jYYYY/jM/jD H:mm'}}
                </td>
                <td style="direction: ltr; text-align: right;">
                    {{payment.card}}
                </td>


                <td>
                                <span
                                        popover-trigger="hover" popover-placement="right"
                                        popover="هنوز هیچ اقدامی روی این پرداخت انجام نگرفته است"
                                        ng-if="payment.status == 1" class="label label-bg label-warning">
                                    بررسی نشده
                                </span>
                                <span
                                        popover-trigger="hover" popover-placement="right"
                                        popover="این درخواست به کارت بانکی شما واریز شده است"
                                        ng-if="payment.status == 0" class="label label-bg label-success">
                                    واریز شده
                                </span>
                                <span popover-trigger="hover" popover-placement="right"
                                      popover="این درخواست برای واریز به بانک ارسال شده است"
                                      ng-if="payment.status == 20" class="label label-bg label-info">
                                    در دست بررسی
                                </span>
                                <span
                                        popover-trigger="hover" popover-placement="right"
                                        popover="این درخواست پرداخت انجام نگرفته و مقدار امتیاز آن به حساب مشتری مرجوع شده است"
                                        ng-if="payment.status == 4" class="label label-bg label-danger">
                                    مرجوع شده
                                </span>
                </td>
                <td>
                    <a ng-if="payment.status == 1 && isCustomer()"
                       popover-trigger="hover" popover-placement="right"
                       popover="در صورتی که می خواهید درخواست پرداخت را لغو کرده و امتیاز شما به حساب قابل دریافتتان بازگشت داده شود، روی این دکمه کلیک کنید"
                       ng-confirm-action="deletePayment(payment)"
                       class="popovers"
                       ng-confirm-message="آیا از حذف درخواست پرداخت به میزان {{payment.amount |score}}  امتیاز اطمینان دارید؟">
                        <i class="fa fa-close font-red"/>
                    </a>
                    <button class="btn btn-lg btn-circle font-red grey-cararra"
                            ng-if="payment.status != 4 && checkAnyRoles(['ADMINISTRATOR_USER', 'PAYMENT_MANAGER'])"
                            ng-confirm-action="rejectPayment(payment)"
                            popover="در صورت عدم پذیرش پرداخت، میزان امتیاز آن به حساب کاربر مرجوع خواهد شد."
                            popover-trigger="hover" popover-placement="right"
                            ng-confirm-message="آیا از عدم پذیرش درخواست پرداخت به میزان {{payment.amount |score}}  امتیاز و کد {{payment.id }} برای مشتری با نام  '{{payment.customer.name}}' اطمینان دارید؟">
                        <i class="fa fa-trash-o font-red"/>
                        عدم پذیرش
                    </button>
                </td>

            </tr>
        </table>
    </div>
</div>
</div>
<!-- END PORTLET-->
</div>
</div>











    <div file-upload is-single="true" uploader="uploader">
    </div>



    <div upload-thumb height="200" uploader="uploader" />












</div>





<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    //Index.init();
    //Tasks.initDashboardWidget();
    CustomersTools.init();
</script>
<!-- BEGIN MAIN JS & CSS -->